.icon {
	width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;

	&_github {
		background-image: url(../img/icons/github.svg);
	}

	&_live {
		background-image: url(../img/icons/eye.svg);
	}

	&_email {
		background-image: url(../img/icons/email.svg);
	}
}
